---
import { contact } from '../data/site.json';
---

<a
  href={`https://wa.me/${contact.whatsapp}`}
  target="_blank"
  rel="noopener noreferrer"
  class="fixed bottom-8 right-8 w-16 h-16 rounded-full bg-[#25D366] text-white flex items-center justify-center shadow-xl hover:shadow-[0_0_20px_rgba(37,211,102,0.5)] hover:scale-110 transition-all duration-200 z-50 ring-4 ring-white/10"
  aria-label="Fale conosco no WhatsApp"
>
  <svg fill="currentColor" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
    <path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.588-5.946 0-6.556 5.332-11.891 11.891-11.891 3.181 0 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.481 8.403 0 6.556-5.332 11.891-11.891 11.891-2.011 0-3.98-.512-5.719-1.486l-6.274 1.704zm6.002-3.325c1.554.919 3.125 1.402 4.796 1.402 5.034 0 9.13-4.098 9.13-9.131 0-2.439-.95-4.733-2.673-6.455-1.724-1.724-4.019-2.673-6.457-2.673-5.033 0-9.13 4.098-9.13 9.131 0 1.932.616 3.73 1.782 5.215l-1.171 4.28 4.423-1.2l-.3-.169zm10.742-5.467c-.294-.148-1.738-.858-2.008-.956-.269-.099-.465-.148-.661.148-.196.297-.759.956-.93 1.154-.172.199-.343.224-.638.075-.294-.148-1.243-.458-2.368-1.462-.876-.782-1.467-1.748-1.639-2.046-.172-.297-.018-.458.13-.606.133-.133.294-.345.441-.517.147-.172.196-.296.294-.494.098-.198.049-.371-.025-.52-.073-.148-.661-1.592-.906-2.185-.239-.575-.48-.496-.661-.505l-.563-.006c-.196 0-.514.074-.784.371-.269.296-1.028 1.014-1.028 2.471 0 1.457 1.058 2.866 1.205 3.063.147.198 2.083 3.181 5.047 4.459.705.304 1.256.486 1.684.622.709.226 1.354.194 1.864.118.568-.085 1.738-.71 1.982-1.396.244-.687.244-1.276.171-1.396-.073-.12-.269-.196-.563-.344z"/>
  </svg>
</a>
